* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?wrez6j');
    src: url('../fonts/icomoon.eot?wrez6j#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?wrez6j') format('truetype'), url('../fonts/icomoon.woff?wrez6j') format('woff'), url('../fonts/icomoon.svg?wrez6j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    /* background-image: url(../img/7.jpg); */
    background-image: linear-gradient(2000deg, teal, rgb(226, 144, 157));
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    /* background-size: 100%; */
}

.beijing img {
    position: fixed;
    left: 1000px;
    opacity: .5;
    z-index: -100;
    /* width: 40%; */
}

body>img {
    position: absolute;
    z-index: 99999;
}

.margin {
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #bebebe;
    font-size: 20px;
}


/* 鼠标跟踪 */


/* 导航栏start */

.header {
    position: fixed;
    float: left;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.logo img {
    /* position: absolute; */
    margin-top: 4rem;
    margin-right: 2rem;
    width: 110px;
    height: 110px;
}

.hd {
    margin-left: 20px;
    /* position: absolute; */
    display: flex;
    align-items: center;
    right: 220px;
}

.hd img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.hd span {
    display: inline-block;
    margin-left: 1rem;
    color: white;
}

.show {
    /* position: absolute; */
    margin-right: 20px;
    color: white;
    left: 20rem;
    line-height: 60px;
}

.header #nav {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgb(238, 151, 101);
    background-color: #030304;
}

.header #nav ul {
    display: flex;
    justify-content: center;
}

.header #nav ul li {
    line-height: 40px;
    height: 40px;
    padding: 0px 10px;
    list-style: none;
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    box-shadow: 2px 3px 5px rgb(64, 231, 181);
    transition: all 0.4s;
}

.header #nav #btnhide {
    line-height: 40px;
    height: 40px;
    padding: 0px 10px;
    position: absolute;
    left: 300px;
    font-size: 19px;
}

.header #nav ul li a {
    display: inline-block;
}

.header #nav ul li:hover {
    background-color: rgba(51, 245, 203, 0.541);
}

.header #nav ul li:hover a:hover {
    transform: scale(1.15);
}

#nav ul li:nth-child(1)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(2)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(3)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(4)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(5)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(6)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(7)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}

#nav ul li:nth-child(8)::before {
    font-family: 'icomoon';
    content: '';
    color: tomato;
}


/* 导航栏end */

span,
a,
h2 {
    font-size: 19px;
}

.wrap span {
    color: white;
    margin-right: 5px;
}

.wrap div {
    color: white;
    margin-bottom: 10px;
}

.wrap span,
.tp ul li h2,
.com span {
    color: white;
    display: block;
}

.tp h2 {
    margin-top: 24px;
}

.wrap {
    margin-top: 10px;
}

.com span {
    margin-top: 10px;
}

.footer {
    height: 330px;
    background-color: rgb(20, 20, 20);
    opacity: .8;
}

.footer .tp {
    margin: 0 auto;
    width: 1400px;
}

.footer .tp ul {
    padding-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .tp ul li {
    border-bottom: solid 2px rgb(85, 99, 138);
    height: 200px;
    position: relative;
    border-right: solid 1px rgb(187, 238, 245);
}

.footer .tp ul li img {
    position: absolute;
    height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.footer .tp ul>li {
    flex: 0.9;
}

.footer .tp ul :nth-child(2) {
    flex: 1.2;
}

.footer .tp ul :nth-child(3) {
    text-align: center;
    vertical-align: middle;
    flex: 1.7;
}

.footer .tp ul :nth-child(4) {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    text-align: center;
    border-right: 0;
    flex: 1.7;
}

.bm {
    color: white;
    display: flex;
    line-height: 100px;
    justify-content: center;
}


/* footer底部end */


/* 650px 至1250px */

@media (min-width:900px) and (max-width:1500px) {
    .header #nav ul,
    .hd {
        flex-wrap: wrap;
    }
    .header #nav {
        height: 100%;
    }
    .logo img {
        margin-top: 0;
    }
    .footer .tp ul {
        padding-top: 30px;
        width: 100%;
        flex-flow: column-reverse;
        flex-wrap: wrap;
    }
    .footer {
        height: 100%;
    }
    .footer .tp {
        margin: 0 auto;
        width: 1275px;
    }
    .footer .tp ul {
        padding: 0;
        height: 1000px;
    }
    .footer .tp ul>li {
        flex: 1;
        height: 190px;
    }
    .footer .tp ul li {
        width: 100%;
        border-right: 0;
    }
    .footer .tp ul :nth-child(2) {
        flex: 1;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer .tp ul :nth-child(3) {
        flex: 0.7;
    }
    .footer .tp ul :nth-child(4) {
        flex: 0.8;
    }
    .tp ul div h2 {
        margin-top: 25px;
    }
    .com {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .com span {
        display: inline-block;
        padding-top: 15px;
        padding-left: 15px;
    }
}

@media (min-width:651px) and (max-width:899px) {
    .header #nav ul,
    .hd {
        flex-wrap: wrap;
    }
    .header #nav {
        height: 100%;
    }
}


/* iphoneX屏幕 */

@media (min-width:300px) and (max-width:650px) {
    .header #nav ul {
        flex-wrap: wrap;
    }
    .header #nav {
        height: 100%;
    }
    .hd {
        display: none;
    }
    .show {
        display: none;
    }
    .footer .tp ul {
        padding-top: 30px;
        width: 100%;
        flex-flow: column-reverse;
        flex-wrap: wrap;
    }
    .footer {
        height: 100%;
    }
    .footer .tp {
        margin: 0 auto;
        width: 375px;
    }
    .footer .tp ul {
        padding: 0;
        height: 1000px;
    }
    .footer .tp ul>li {
        flex: 1;
        height: 190px;
    }
    .footer .tp ul li {
        width: 100%;
        border-right: 0;
    }
    .footer .tp ul :nth-child(2) {
        flex: 1;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer .tp ul :nth-child(3) {
        flex: 0.7;
        height: 100px;
    }
    .footer .tp ul :nth-child(4) {
        flex: 0.8;
        height: 170px;
    }
    .tp ul div h2 {
        margin-top: 25px;
    }
}