<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/myblog/vue/vue.js"></script>
    <title>计算属性</title>
</head>
<style>
    .yue {
        width: 1000px;
        height: 500px;
        margin: 20px auto;
    }
    
    .xin {
        margin: auto;
        margin-top: 20px;
        width: 250px;
        height: 50px;
    }
    
    .xin input {
        width: 80%;
        height: 60%;
    }
</style>

<body>
    <div class="yue">
        <div class="xin">
            <span>姓：</span>
            <input type="text" v-model="firstName">
        </div>
        <div class="xin">
            <span>名：</span>
            <input type="text" v-model="lastName">
        </div>
        <div class="xin">
            <span>全名：</span>
            <span>{{fullName}}</span>
        </div>
    </div>
    <script type="text/javascript">
        // 组织vue在启动时生成提示
        // Vue.config.productionTip = false;
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: '.yue',
            data: {
                firstName: '李',
                lastName: '鑫',
                fullName:'李-四'
            },
            watch:{
                firstName(val){
                   setTimeout(() => {
                    this.fullName =  val + '-' + this.lastName
                   }, 1000);
                },
                lastName(val){
                    this.fullName = this.firstName + '-' + val
                }
            }
        })
    </script>
</body>

</html>